albumentations==2.0.4
beautifulsoup4==4.13.3
clip==0.2.0
comet_ml==3.49.3
coremltools==8.2
csscompressor==0.9.5
dvclive==3.48.2
flatbuffers==25.2.10
hub_sdk==0.0.18
ipython==8.12.3
jsmin==3.0.1
lap==0.5.12
lvis==0.5.3
matplotlib==3.10.1
mct_quantizers==1.5.2
minify_html==0.15.0
MNN==3.1.0
model_compression_toolkit==2.3.0
mss==10.0.0
ncnn==1.0.20241226
nncf==2.15.0
numpy==2.2.3
onnx==1.17.0
onnx2tf==1.26.8
onnxruntime==1.20.1
onnxslim==0.1.48
opencv_python==4.11.0.86
openvino==2025.0.0
paddle==1.0.2
pafy==0.5.5
pandas==2.2.3
Pillow==11.1.0
pillow_heif==0.21.0
psutil==6.1.1
py_cpuinfo==9.0.0
pycocotools==2.0.8
pytest==8.3.4
pytubefix==8.12.1
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.42.1
Requests==2.32.3
roboflow==1.1.54
sahi==0.11.20
scipy==1.15.2
seaborn==0.13.2
sentry_sdk==2.22.0
Shapely==2.0.7
sony_custom_layers==0.3.0
streamlit==1.42.2
super_gradients==3.7.1
tensorflow==2.18.0
tensorflowjs==4.22.0
tensorrt==10.8.0.43
tflite_runtime==2.14.0
tflite_support==0.4.4
torch==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.67.1
transformers==4.49.0
tritonclient==2.54.0
ultralytics_thop==2.0.14
wandb==0.19.7
x2paddle==1.6.0
yt_dlp==2025.2.19
